html{
    --background-color: #0f1011;
    --header-background-color: #181A1B;

    --header-text-color: #c5c5c5;
    --header-text-hover: #52e652;

    --welcome-text: #bbbbbb;

    --h2-light-background: rgb(35, 36, 37);
    --h2-dark-background: rgb(41, 41, 44);

    --h2-light-text: #f7f7f7;;
    --h2-dark-text: #f7f7f7;


    --light-box-text:rgb(27, 26, 26);;
    --dark-box-text:#eff8ee;

    --light-box-background: #d4d4d4;
    --dark-box-background: #222324;;

}