.full-projet{
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 3px 3px 5px 0px rgba(78, 78, 78, 0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(78, 78, 78, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(78, 78, 78, 0.75);
    border: 2px solid #aaa5a5;
    background-color: #303030;
    padding: 1.5rem;
    justify-content: start;
    margin-top: 10vh;
}

h3{
    font-size: 2.5rem;
    color: #d6d2d2;
    margin: 0;
}

h4{
    font-size: 2rem;
    color: rgb(154, 194, 159);
    margin: 0;
    margin-bottom: 1vh;
    text-align: center;
    margin-top: 5vh;

}

.full-projet p {
    color: #f1f1f1;
    text-align: center;
  }

#projets img{
    width: 100%;
    border: #5a5e5a 1px solid;
    padding: 0;
    border-radius: 7px;
    margin-bottom: 2.5vh;
    margin-top: 1vh;
}

.boiteprojets{
    flex-direction: column;
}

.lien{
    font-size: larger;
}

.anchorfix{
    width: 45vw;
    min-height: 70vh;
    display: flex ;
    justify-content: center;
    align-items: center ;
}

#projets img{
    height: 20vh;
    width: 30vw;
}

.liste-competences p{
    text-align: left;
}
